/*Start Nav*/
:root {
    --primary-color: #0984e3;
    --pink-color: #ef97eb;
    --blue-color: #74b9ff;
    --white-color: #ffffff;
    --light-color: #f5faff;
    --gray-color: #909090;
    --dark-color: #252525;



    --cotton-color: #EDEAE1;
    --jade-color: #C1C3AC;
    --dustyolive-color: #80866E;
    --evergreen-color: #013220;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
::before,
::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--dark-color);
    -webkit-tap-highlight-color: transparent; 
}



.content-body {
    /*    background-image: url("~/images/nakhlal.png") !important;*/
    background-color: var(--cotton-color) !important;
}

.border1 {
    border: 1px solid red !important;
}

.BodyOfProfial {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1) !important;
    
    background-color: var(--jade-color);
    border-radius: 4px;
}

.DetailsContainer{
    color: var(--evergreen-color); 
}
.form-group label{
    color: var(--evergreen-color) !important;
}

.Update-link {
    padding: 10px 16px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: var(--cotton-color);
    background-color: var(--evergreen-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

    .Update-link:hover {
        background: #f8f6f3;
        border-color: #8b7355;
        color: #8b7355;
    }
.Cancel-link {
    padding: 10px 16px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;    
    background: #f8f6f3;
    color: #8b7355;
    text-decoration: none;
    transition: all 0.3s ease;
}

    .Cancel-link:hover {        
        border-color: #8b7355;
        background-color: var(--evergreen-color);
        color: var(--cotton-color);
    }

input {
    background-color: var(--cotton-color) !important;
}
select {
    background-color: var(--cotton-color) !important;
}
/* تنسيق بسيط عشان SweetAlert يدعم العربي */
.swal-rtl {
    direction: rtl !important;
    text-align: right !important;
}


























.ph--dress-thin {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='m211 211.27l-.06-.12l-46.41-98.86l21.68-34v-.1a11.94 11.94 0 0 0 0-12.34l-.15-.24L164 34V8a4 4 0 0 0-8 0v25.82l-6.13 7.67a28 28 0 0 1-43.74 0L100 33.82V8a4 4 0 0 0-8 0v26L69.86 65.59l-.15.24a11.94 11.94 0 0 0 0 12.34a1 1 0 0 1 .05.1l21.68 34L45 211.15l-.06.12A12 12 0 0 0 56 228h144a12 12 0 0 0 11-16.73M76.54 74a4 4 0 0 1 0-4l19.67-28.1l3.68 4.59a36 36 0 0 0 56.22 0l3.68-4.59l19.7 28.1a4 4 0 0 1 0 4l-21.65 34H98.19Zm126.79 144.2A3.94 3.94 0 0 1 200 220H56a3.94 3.94 0 0 1-3.33-1.8a3.89 3.89 0 0 1-.36-3.72L98.54 116h58.92l46.23 98.48a3.89 3.89 0 0 1-.36 3.72'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.hugeicons--jogger-pants {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'%3E%3Cpath d='M18.16 5V4c0-.943 0-1.414-.3-1.707C17.559 2 17.075 2 16.107 2H7.893c-.968 0-1.452 0-1.753.293s-.3.764-.3 1.707v1m12.32 0l2.655 14.652c.197 1.09.296 1.633-.012 1.99c-.307.358-.875.358-2.01.358h-1.17c-.73 0-1.096 0-1.368-.196c-.272-.195-.38-.535-.594-1.216l-1.698-5.375C13.16 12.67 12.758 11.4 12 11.4s-1.16 1.271-1.963 3.813L8.34 20.588c-.215.68-.322 1.02-.594 1.216S7.107 22 6.376 22H5.207c-1.135 0-1.703 0-2.01-.357c-.308-.358-.21-.902-.012-1.99L5.84 5m12.32 0H5.84'/%3E%3Cpath stroke-linejoin='round' d='M10 7.778L12 5l3 5'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.game-icons--sleeveless-jacket {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M183.52 49.373c-9.33.395-19.07 1.434-29.088 3.092c7.844 36.25 25.637 68.946 60.568 97.474v-10.5c-8.845-10.246-15.845-25.51-21.54-42.594c-5.177-15.534-8.795-32.223-9.94-47.473zm144.96 0c-1.145 15.25-4.763 31.94-9.94 47.473c-5.695 17.083-12.695 32.348-21.54 42.593v10.5c34.93-28.53 52.724-61.226 60.568-97.475c-10.02-1.658-19.758-2.697-29.088-3.092zm-126.812 2.18c.785 7.343 2.232 15.31 4.178 23.283C223.196 84.07 239.442 89 256 89s32.804-4.93 50.154-14.164c1.946-7.972 3.393-15.94 4.178-23.283C289.306 64.913 272.4 71 256 71s-33.306-6.087-54.332-19.447m-64.883 4.408C105.988 63.033 73.35 75.5 42.313 92.67C72.472 215.975 87.862 380.764 74.175 491H215V172.633C169.732 139.81 146.24 99.52 136.785 55.96zm238.43 0C365.76 99.52 342.268 139.81 297 172.634V491h140.824c-13.687-110.236 1.703-275.025 31.863-398.33c-31.037-17.17-63.675-29.638-94.472-36.71zM194.057 208.25l1.945 128.16l-4.887 2.574c-27.018 14.238-57.635 14.82-87.963 6.477l-6.51-1.788l-1.82-119.875l-.13-8.514zm123.886 0l90.87 6.432l8.494.6l-1.95 128.39l-6.51 1.79c-30.327 8.34-60.944 7.76-87.962-6.478l-4.887-2.574zm-153.78 20.16l-38.032 2.692l20.364 17.67zm183.673 0l17.67 20.363l20.363-17.67zM176.56 241.59l-28.27 32.576l-35.165-30.518l1.307 86.012c22.786 5.198 44.148 4.27 63.398-4.355zm158.88 0l-1.27 83.715c19.25 8.625 40.612 9.553 63.398 4.355l1.307-86.012l-35.166 30.518zM233 473v18h46v-18z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.game-icons--skirt {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M103 28.31c-4.17 13.68-5.04 26.09-.1 41.09c56.8-3.6 104-5.31 144.4-5.72c67-.67 115.9 2.19 161.7 5.66c4.1-13.38 1.8-25.38-1.1-40.78c-68.3 4.02-186.6 1.87-304.9-.25m168.7 53.25c-7.8 0-15.9 0-24.3.1c-23.1.24-48.5.94-76.5 2.14c-22.1 45.3-23.9 88.7-30.2 135.5c-7.8-43.5-2.9-94.2-.7-134.03c-11.8.64-24.1 1.34-36.9 2.16C57.03 219.3 23.88 348.2 25.81 469.9c15.81 3.4 30.97 6.1 45.56 8.2c-1.53-21.7 3.82-65.1 20.27-92.1c-5.28 29.8-.87 64.1 3.09 94.9c18.07 1.8 35.17 2.6 51.57 2.8c1.2-76.4-.6-125.2 24.7-203.7c.3 77.6 6 147.6 23.6 202.1c26.9-1.9 52.3-5.2 77.2-8.8c28.7-4.2 56.7-8.6 85.4-11.3c.8-47.6-9.4-120.3-7.4-193.6c25.1 63.6 39.6 125.7 44.7 191.3c28.9-.8 59.1 1 91.7 7.1c1.7-75.4-25-261.8-74.3-373.19c3.1 61.59 7 121.69-1.2 158.59c-13.4-54.9-23.6-106-41.5-167.53c-29-1.74-60.3-3-97.5-3.11'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.game-icons--lab-coat {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M256 34.91c-11.9 0-23.9 1.65-37 4.8c12.1 22.88 24.3 36.93 37 53.48c12.7-16.55 24.9-30.59 37-53.48c-13.1-3.15-25.1-4.8-37-4.8m-51.8 15.16L188.3 58c13.9 25.46 36.7 57.8 58.7 75.3v-22.1c-13.7-18.61-28.3-34.37-42.8-61.13m103.6 0c-14.5 26.76-29.1 42.52-42.8 61.13v22.1c22-17.5 44.8-49.84 58.7-75.3zM171.1 64.41c-18.1 5.75-30.5 10.46-35.3 12.34L99.61 257.8l44.79 11.1c7.2-51.6 15.2-85.9 21.1-134.8l19.4-14.9c-8.9 78.9-15.8 142.9-22.2 213l59.1-14.8l11.2-2.8v75.5c0 4.9-2.1 9.7-5.2 12.9c-3.1 3.3-6.8 5.3-10.6 6.7c-7.8 2.9-16.7 3.7-25.6 3.3c-8.8-.3-17.6-1.9-24.9-4.8c-3.1-1.2-5.9-2.7-8.5-4.7l-4.6 73.6H247V155.5c-31.9-18.7-59.5-60.01-75.9-91.09m169.8 0c-16.4 31.08-44 72.39-75.9 91.09v17.6h30v-23h18v23h16v57c0 4.2-1.8 8.3-4.3 11.2c-2.5 2.8-5.4 4.6-8.5 6c-6.2 2.8-13.2 3.8-20.2 3.8s-14-1-20.2-3.8c-3.1-1.4-6-3.2-8.5-6c-.9-1-1.6-2.2-2.3-3.4v239.2h93.4l-4.5-72.3c-2.7 2.3-5.7 3.8-8.7 4.9c-7.8 2.9-16.7 3.7-25.6 3.3c-8.8-.3-17.6-1.9-24.9-4.8c-3.7-1.5-7.1-3.3-10.1-6.1c-2.9-2.7-5.6-7-5.6-12v-75.5l70.3 17.6c-5.6-70.4-14.2-147.6-22.2-213l17.8 14.9c7.1 53.3 14.2 83.6 22.7 134.8l44.8-11.1l-36.2-181.05c-4.8-1.88-17.2-6.59-35.3-12.34M281 191.1v38.4c6.9 6.2 22.2 6.1 30 0v-38.4zM96.11 275.4l-5.6 28L136.7 315l4.7-28.3zm319.79 0l-45.3 11.3l4.7 28.3l46.2-11.6zM215 337.6l-46 11.5V389c4.8 7.9 35.7 9.1 46 1.1zm82 0V389c5.4 8.8 35.7 9.1 46 1.1v-41z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}