/* الكارت الأساسي */
.product-card {
    width: 100%; /* اجعله مرن ليأخذ حجم الـ العمود */
    border: 1px solid #e0e0e0; /* حدود أنعم */
    border-radius: 4px; /* انحناء بسيط جداً كالموقع الاحترافي */
    overflow: hidden;
    background: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

    .product-card:hover {
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
        transform: translateY(-2px);
    }

    /* تنسيق الصورة */
    .product-card img {
        width: 100%;
        height: 220px; /* ارتفاع موحد لجميع الصور */
        object-fit: cover;
        border-bottom: 1px solid #f0f0f0;
    }

/* معلومات المنتج */
.product-info {
    padding: 12px;
    text-align: center;
}

    .product-info h3 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 8px;
        color: #333;
        white-space: nowrap; /* لمنع النزول لسطر جديد وتخريب الشكل */
        overflow: hidden;
        text-overflow: ellipsis;
    }

/* صفوف البيانات */
.rowProduct {
    border-top: 1px solid var(--jade-color);
    padding: 8px 0;
    font-size: 13px;
    color: #666;
}

.split {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom {
    font-weight: 600;
}

.price {
    color: #333;
}

.stock {
    color: #2aa84a; /* أخضر للمتوفر */
}

/* تعديلات الموبايل */
@media (max-width: 768px) {
    .product-card img {
        height: 150px;
    }

    .product-info h3 {
        font-size: 13px;
    }
}
@media (max-width: 991px) {
    .product-card {
        width: 200px;
    }

        .product-card img {
            height: 160px;
        }
    .quick-filter-bar{
        display:none;
    }
    .filter-sidebar {
        display:none;
    }

    
}

/* Mobile */
@media (max-width: 575px) {

    .rowProduct {
        font-size: 13px;
       
    }

    .product-card img {
        height: 140px;
    }
}